<h1>Pin#edit</h1>

<%= form_for @pin do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.text_field :img_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= form_for @pin, method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
